/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url(/assets/fonts/oswald.ttf) format("truetype");
}

@font-face {
  font-family: lora;
  font-style: normal;
  font-weight: 300 500;
  font-display: swap;
  src: url(/assets/fonts/lora.ttf) format("truetype");
}

h1 {
  font-size: var(--font-size-fluid-3);
  line-height: var(--font-lineheight-0);
  margin: 0 auto var(--size-2);
  font-weight: var(--font-weight-6);
  text-align: center;
  color: var(--indigo-6);
}
h2 {
  font-size: var(--font-size-fluid-2);
  line-height: var(--font-lineheight-0);
  margin: 0 auto var(--size-2);
  font-weight: var(--font-weight-5);
  text-align: center;
  color: var(--indigo-6);
}

.spiel {
  justify-content: center;
  display: grid;
  gap: var(--size-3);
  margin-top: var(--size-8);
  color: var(--stone-11);
  p {
    font-size: var(--font-size-1);
  }
}

body {
  background: var(--sand-0);
  padding: 1em;
  font-family: var(--font-sans);
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1.3;
  color: var(--stone-9);
}

.items {
  max-width: 120ch;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--size-3);
  margin-top: var(--size-10);

  .item {
    border-radius: var(--radius-2);
    text-align: left;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr min-content;
    background: var(--stone-2);
    line-height: var(--font-lineheight-2);
  }

  .item[data-item-status="frozen"] {
    .price {
      text-align: center;
      flex-grow: 1;
    }
    .price .val {
      color: var(--stone-08);
    }
  }

  header,
  .stack {
    padding: var(--size-3);
  }

  p {
    font-size: var(--font-size-1);
    font-family: var(--font-sans);
  }

  img {
    width: 100%;
    aspect-ratio: var(--ratio-widescreen);
    object-fit: cover;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-4);
    line-height: var(--font-lineheight-2);
    color: var(--stone-11);
  }

  .price {
    font-family: var(--font-sans);
    font-size: var(--font-size-1);
    padding: var(--size-1);
    border-radius: var(--radius-2);

    .val {
      color: var(--lime-9);
      font-weight: var(--font-weight-7);
    }
  }

  .actions {
    margin: var(--size-2);
    background: var(--sand-0);
    padding: var(--size-3);
    border-radius: var(--radius-2);

    .stack {
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding: 0;
    }
  }

  button {
    height: max-content;
    padding-inline: var(--size-5);
    margin: 0;
    background: var(--indigo-9);
    cursor: pointer;
    font-family: var(--font-sans);
    color: var(--sand-0);
    text-shadow: none;
    border: 0;
    font-weight: var(--font-weight-5);
    border-radius: var(--radius-2);
    line-height: var(--font-lineheight-00);

    &:hover {
      background: var(--indigo-7);
    }
  }
}

.stack {
  display: flex;
}

.htmx-highlight .val {
  animation: highlight 1.5s ease-out;
}

@keyframes highlight {
  from {
    background-color: var(--yellow-2);
  }
  to {
    background-color: transparent;
  }
}
.frozen {
  background: var(--orange-9);
  color: var(--sand-0);
  padding: var(--size-2);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-5);
  text-align: center;
}

/** Item Page **/
.item-page {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-4);

  h1 {
    font-size: var(--font-size-6);
    text-align: left;
    margin: 0;
  }

  .key-info {
    top: 0;
    left: 0;
    position: sticky;
  }
}

/** Global **/
#toasts {
  position: fixed;
  top: var(--size-9);
  right: var(--size-4);

  .toasty {
    display: grid;
    gap: var(--size-4);
  }

  .toast {
    background: var(--red-1);
    padding: var(--size-3);
    border: 1px solid var(--red-4);
    color: var(--red-8);
    font-weight: var(--font-weight-5);
    border-radius: var(--radius-2);
  }
}

.main-nav {
  display: flex;
  align-items: baseline;
  width: 100%;
  gap: var(--size-8);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-7);
  padding-block: var(--size-3);
  padding-inline: var(--size-8);

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: var(--font-weight-5);
  }

  a {
    color: var(--indigo-6);
    &:hover {
      color: var(--indigo-4);
    }
  }

  .cart-indicator {
    margin-left: auto;
    cursor: pointer;
    font-weight: var(--font-weight-6);
    padding: var(--size-1) var(--size-2);
    border: 1px solid var(--sand-2);
    font-size: var(--font-size-1);
    border-radius: var(--radius-2);
    &:hover {
      color: var(--indigo-4);
      border: 1px solid var(--indigo-4);
    }
  }
}

/** Cart slideover **/
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  backdrop-filter: blur(6px);
}
.cart {
  --cart-width: 20rem;

  container-name: slideover;
  container-type: inline-size;
  min-height: 100vh;
  width: var(--cart-width);
  max-width: 90vw;
  background: var(--sand-0);
  box-shadow: var(--shadow-5);
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  z-index: 100;
  grid-auto-rows: min-content;

  &.visible {
    transform: translateX(0);
  }

  .total-price {
    text-align: center;
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-5);
    margin-top: var(--size-5);
  }

  h4 {
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-3);
  }
  header {
    padding: var(--size-3);
    text-align: center;
    p {
      font-size: var(--font-size-1);
    }
  }

  .checkout-btn {
    display: block;
    margin: var(--size-6) var(--size-2);
    background: var(--indigo-9);
    color: var(--indigo-0);
    text-align: center;
    padding: var(--size-2);
    font-weight: var(--font-weight-5);
    border-radius: var(--radius-2);
    &:hover {
      background: var(--indigo-7);
      text-decoration: none;
    }
  }
}

.cart-item {
  padding: var(--size-3);
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  gap: var(--size-1);
  border-bottom: 1px solid var(--indigo-1);
  align-items: center;

  @container slideover (width < 20rem) {
    grid-template-columns: 1fr;
  }

  img {
    height: var(--size-9);

    .checkout & {
      height: var(--size-11);
    }
  }

  .item-detail {
    .item-title {
      font-weight: var(--font-weight-6);
    }
    * {
      font-size: var(--font-size-1);
    }
  }
}

.checkout-items {
  max-width: var(--size-content-3);
  margin: var(--size-6) auto;
}
.checkout {
  .total {
    text-align: center;
    margin-top: var(--size-5);
  }
  .total * {
    display: inline;
  }
  .val {
    font-weight: var(--font-weight-7);
  }
}
