@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url(/assets/fonts/oswald.ttf) format("truetype");
}

@font-face {
  font-family: lora;
  font-style: normal;
  font-weight: 300 500;
  font-display: swap;
  src: url(/assets/fonts/lora.ttf) format("truetype");
}

h1 {
  font-family: oswald, impact;
  font-size: calc(2em + 5vw);
  margin: 0;
  font-weight: 700;
  text-align: center;
  color: #67b7d1;
}

.spiel {
  text-align: center;
  max-width: 90ch;
  margin: 0 auto;
  text-wrap: balance;
}

body {
  padding: 1em;
  font-family: lora, sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1.3;
}

.items {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;

  .item {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 1em;
    text-align: left;
    font-size: 0.9em;
    display: grid;
    grid-template-rows: 1fr min-content;
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  .price {
    flex-grow: 1;
    font-family: oswald;
    text-transform: uppercase;
    color: #d5562a;
  }

  .stack {
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  button {
    height: max-content;
    padding: 0.5em;
    margin: 0;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 3px;
    font-family: oswald;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.stack {
  display: flex;
}
